body {
    text-align: center;
    height: 100vh !important;
}

#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
    margin-top: 70px;
    z-index: 100;
}


#counterBoard{
    z-index: 1000;
    /* background: white; */
    position: absolute;
    top: 50vh;
    left: 40vw;
}