@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    scroll-behavior: smooth;
}

body{
    /* min-height: 150vh; */
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: right;
    /* align-content: end; */
    z-index: 10000;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-styLe: none;
    margin-left: 20px;
}


header ul li a{
    text-decoration: none; 
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover{
    background: #fff;
    color: #2b1055;
}

#start{
    /* width: 50% !important; */
    mix-blend-mode:normal;
    top: 40vh;
    left: 40vw;
    height: 10vh;
    width: auto;
    position: fixed;
    pointer-events: inherit;
    z-index: 10000;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    align-items: center;
}

section img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    z-index: 10;
    pointer-events: none;
}

.content{
    position: relative;
    padding: 100px;
    background: #2b1055;
    color: white;
    z-index: 10000;
    min-height: 100vh;
}

h1, h2, li a{
    font-family: 'Press Start 2P', cursive;

}

section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    /* background: linear-gradient(to top, #2b1055, transparent); */
    z-index: 1000;
}

h1{
    margin-bottom: 10vh;
    text-align: center;
}